/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:before,*:after{
    box-sizing: border-box;
    }

.wrap{
    margin: 0 auto;
    width: 1000px;
    font-family: "Microsoft JhengHei", sans-serif, serif;
    font-size: 16px;
}
.header ul{
    background: #f6f6f6;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header li a{
    text-decoration: none;
    display: flex;
}
.facebook{
    border-right: 2px solid #cccccc;
    padding: 0 8px 0 8px;
}
.twitter{
    padding: 0 8px 0 8px;
}
.facebook span{
    color:#4460a0;
}
.twitter span{
    color: #06a8ee
}
.header img{
    padding-right: 3px;
}
/**/
.logomenu{
    display: flex;
    justify-content: space-between;
}
.logomenu a{
    text-decoration: none;
}
.logomenu h1 a{
    background-image: url(../images/logo.png);
    display: block;
    width: 224px;
    height: 50px;
    text-indent: 101%;
    overflow: hidden;
    White-space: nowrap;
}
.logomenu ul{
    width: 270px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.logomenu li a{
    display: block;
    padding: 16px 10px 16px 10px;
    color: #34d7a3;
}
.logomenu li a:hover{
    border-bottom: 2px solid #34d7a3;
}
/**/
.blackbg{
    background-image: url(../images/banner.png);
    height: 346px;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.blackbg h2{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    color: #ffffff;
    font-size: 36px;
    padding: 30px 0 30px 24px;
    letter-spacing: 3px;
    line-height: 50px;
}
/**/
.content{
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}
.contentbox{
    width: 302px;
    border-bottom: 1px solid #F0F0F0;
    border-left: 1px solid #F0F0F0;
    border-right: 1px solid #F0F0F0;
    box-shadow: 0px 3px 3px #D0D0D0;
}
.contentbox img{
    display: block;
    margin: 0 auto;
}
.contentbox h3{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}
.contentbox p{
    letter-spacing: 2px; 
    padding: 0 20px 20px 20px;
}
.contentbox span{
    padding: 0 20px 0 20px;
}
.contentbox li{
    margin-left: 20px;
	margin: 5px 0 0 40px;
	list-style-type: disc;
}
/**/
.course{
    width: 840px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.course h4{
    text-align: center;
    font-size: 26px;
    padding-bottom: 26px;
}
.course table{
    width: 100%;
    table-layout: fixed;
}
.course th,.course td{
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0;
    text-align: left;
    padding: 10px 20px 10px 20px;
}
.course th{
    background-color: #f6f6f6;
    font-weight: bold;
}
.important{
    color: #019858;
}
/**/
.data{
    height: 405px;
    background: linear-gradient(#00654b,#009871);
    color: #ffffff;
}
.data h4{
    text-align: center;
    font-size: 26px;
    padding: 26px 0 26px 0;
    letter-spacing: 2px;
    line-height: 40px; 
}
.data form{
    display: flex;
    justify-content: space-around;
}
.message{
    width: 460px;
    height: 246px;
}
.information{
    width: 460px;
    display: flex;
    flex-direction: column;
}
.information label{
    margin-bottom: 5px;
}
.information input{
    height: 30px;
    margin-bottom: 14px;
}
.button{
    width: 70px;
    height: 32px;
    background:#00cc98;
    color: #ffffff;
    align-self: flex-end;
    margin-top: 14px;
    cursor: pointer;
}
.button:hover{
    font-size: 14px;
    box-shadow: 0px 0px 10px #D0D0D0;
}
.message,.information input,.button{
    border: none;
    border-radius: 4px
}
/**/
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}
.footer h2 a{
    background-image: url(../images/footerLogo.png);
    display: block;
    width: 171px;
    height: 36px;
    text-indent: 101%;
    overflow: hidden;
    White-space: nowrap;
}
.footer li{
    margin: 8px;
    font-size: 14px;
}
.footer li a{
    text-decoration: none; 
    color: #eb659c;
}
.footer li a:hover{
    text-decoration: underline;
}